/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f0f0ee;
  /* overflow: hidden; */
}

#intro-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0ee;
  z-index: 1000; /* Ensure it's on top */
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Photo gallery */
.photo-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Hero text */
.hero-text {
  position: absolute;
  top: 42%;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.hero-text h1 {
  font-family: "ivyora-display", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin: 0;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Sub-hero text */
.sub-hero-text {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.sub-hero-text p {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

/* Loading bar */
.loading-bar-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 20;
}

#loading-bar {
  width: 400px;
  height: 3px;
  border: 1px solid #000;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.loading-bar-fill {
  width: 0%;
  height: 100%;
  background-color: #000;
}

.loading-button {
  width: 150px;
  height: 40px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
  box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2); /* Light drop shadow */

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

.loading-button:hover {
  background-color: #fff;
  color: #000;
}

/* Photo styles */
.photo {
  position: absolute;
  border: 1px solid #000;
  top: 0;
  left: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 50px;
  }
  .loading-bar-container #loading-bar,
  .loading-button {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 30px;
  }
  .loading-bar-container #loading-bar,
  .loading-button {
    width: 200px;
  }
}
